.text {
    display: inline-block;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
}

.card {
    justify-content: center;
    background-color: linear-gradient(0deg, #5ab5b3 0%, #da7272 92%);
    width: 350px;
    margin: 1em;
}

.card img {
    max-width: 300px;
    justify-content: center;
    text-align: center;
    display: block;
    margin: auto;
}

#inner img {
    max-width: 100%;
}

.card>a>.text-card {
    text-align: center;
    max-width: 300px;
}

.row {
    display: inline-block; 
    text-align: center;
    justify-content: center;
}

.pagination {
    text-align: center;
    justify-content: center;
    margin: 0;
    background-color: #866537;
}

.mt-3 {
    display: inline-flex; !important
}

a {
    text-decoration: none ;
    color: black;
}

/* медиа запросы
/* @media  (max-width: 1000px) {
    .container-main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7);
    }   
}

@media  (max-width: 800px) {
    .container-main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9);
    }   
}

@media  (max-width: 600px) {
    .container-main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(15);
    }   
    .card {
        margin-block-start: 0;
    }
} */


/* .container-card {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: repeat(3, 520px) ; */