/* скелет */
html {
    font-size: 21px;
}

/* Контент */

.text {
    display: inline-block;
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
}

.container-card {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 520px) ;
}

.card {
    margin: 2em;
}

.card img {
    max-width: 250px;
}

.card>a>.text-card {
    justify-content: center;
    text-align: center;
    max-width: 250px 
}




/* медиа запросы */
@media  (max-width: 1000px) {
    .container-main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7);
    }   
}

@media  (max-width: 800px) {
    .container-main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9);
    }   
}

@media  (max-width: 600px) {
    .container-main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(15);
    }   
    .card {
        margin-block-start: 0;
    }
}